/*page 1*/
body{
	width: 100%;
	margin: auto;
}
header {
    background-color: #569C87;
    width: 80%;
    height: 6em;
    text-align: center;
    padding: 3em 0 0 0;
    margin: auto;
}
header h1 {
    color: #FCCA46;
    font-size: 3em;
    margin: 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; 
}
header a {
    text-decoration: none;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer {
    background-color: #569C87;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 0.5em 0 0.5em;
    position: fixed;
    left: 10%;
    bottom: 0;
    width: 80%;
}
footer a {
	text-decoration: none;
	color: #FCCA46;
	font-size: 23px;
  font-family: 'Roboto', sans-serif;
  margin-top: 8px;
}
.fa-2x {
    font-size: 1.5em;
    color: gray;
}
.menu {
    height: 25em;
    width: 20em;
    box-shadow: 0px 0px 5px 3px #C0C0C0;
    margin: 1em 0 1em 0;
    overflow: hidden;

}
.menu:hover {
    box-shadow: 0px 0px 5px 3px #569C87;
}
.menu img{
    width: 100%;
    height: 100%;
}
.menu  img {
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}
 
.menu:hover  img {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
}
form{
    padding: 0 4px 0 0;
}
input{
    width: 100%;
    height: 2em;
}
#search {
    background-color: lightgrey;
    width: 80%;
    height: 2em;
    margin: auto;
}
#proch{
    background: #569C87;
    height: 2em;
    text-align: center;
    padding: 20px 0 0 27px;
    border-radius: 15px;
    font-size: 29px;
    letter-spacing: 7px;
    margin-bottom: 4em;
}
#proch a{
    text-decoration: none;
    color: #FCCA46;
    font-family: 'Roboto', sans-serif;
}
#proch p {
    margin: auto;
}
#proch span{
    opacity: 0;
}
#proch #susp1 {
 animation: suspention 3s linear infinite;
}
@keyframes suspention {
 0% {
 opacity: 1;
 }
 65% {
 opacity: 1;
 }
 66% {
 opacity: 0;
 }
 100% {
 opacity: 0;
 }
}
#proch #susp2 {
 animation: suspention2 3s linear infinite;
}
@keyframes suspention2 {
 0% {
  opacity: 0;
 }
 21% {
  opacity: 0;
 }
 22% {
  opacity: 1;
 }
 65% {
  opacity: 1;
 }
 66% {
  opacity: 0;
 }
 100% {
  opacity: 0;
 }
}
#proch #susp3 {
 animation: suspention3 3s linear infinite;
}
@keyframes suspention3 {
 0% {
  opacity: 0;
 }
 43% {
  opacity: 0;
 }
 44% {
  opacity: 1;
 }
 65% {
  opacity: 1;
 }
 66% {
  opacity: 0;
 }
 100% {
  opacity: 0;
 }
}

footer a:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(15deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(15deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
/*Mention legal*/
#textment {
    width: 45%;
    text-align: center;
    box-shadow: 0px 0px 5px 3px #C0C0C0;
    margin: 1em 0 2em 0;
    padding: 1em 1em 1em 1em;
}
/*Menu enchantée*/
#titremenu1 {
text-align: center;
font-weight: bold;
font-size: 2.5em;
color: #353535;
width: 60%;
margin: 2% 20% 2% 20%;
}

#menu1 {
  background-color: #fcdfdb;
  width: 60%;
  margin: auto;
  margin-bottom: 10%;
  font-family: "segoe print", "comic sans ms", serif ;
}
#entete1 {
  text-align: center;
  width: 100%;
}
#entete1 h2 {
  font-family: 'Devonshire', cursive;
  font-size: 2.5em;
  margin: 0;
}
#logotop1{
  width: 9%;
  margin: 6% 0 0 0;
}

.artic1{
  width: 100%;
}
.artic1 h4 {
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;

}
.artic1 h4  {
  background: linear-gradient(to top, black 0%, black 1px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: 0.3s;
}
.artic1 h4:hover {
  background-size: 100% 100%;
}
.artic1 h4 img{
  width: 27%;
  margin: auto;
}
.descr {
display: flex;
justify-content: space-between;
width: 83%;
line-height: 0em;
margin: auto;
}

#logobot1 {
  width: 5%;
}

#footer1 {
  width: 100%;
}

#footer1 > h2:nth-child(1) {
  text-align: center;
  font-family: 'Devonshire', cursive;
  font-size: 2em;
}
/* Le chic a la francaise*/
#menu2 {
  width: 60%;
  margin: auto;
  margin-bottom: 10%;
  box-shadow: 0px 0px 5px 3px #C0C0C0;
  padding-top: 6%;
  padding-bottom: 6%;
  font-family: serif ;
}
#titremenu2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: #353535;
}
#entete2 {
  text-align: center;
  width: 100%;
}
#entete2 h2 {
  font-size: 2.5em;
  margin: 0;
  background: -webkit-linear-gradient(left,#c87a21,#905CFD );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Croissant One', cursive;
}
/* Le délice des papilles*/
.descr3 {
display: flex;
justify-content: space-between;
width: 73%;
line-height: 0em;
margin: auto;
}
#entete3 {
  text-align: center;
  width: 100%;
}
#entete3 h2 {
  font-size: 2.5em;
  margin: 0;
  background: -webkit-linear-gradient(left,#043DE3,#5BADF6 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Dancing Script', cursive;

}
#menu3 {
  width: 60%;
  margin: auto;
  margin-bottom: 10%;
  box-shadow: 0px 0px 5px 3px #C0C0C0;
  padding-top: 6%;
  padding-bottom: 6%;
  font-family: "segoe print", "comic sans ms", serif ;
}

/*la palette du gout*/
#entete4 {
  text-align: center;
  width: 100%;
}
#entete4 h2 {
  font-size: 2.5em;
  margin: 0;
  background: -webkit-linear-gradient(left,#3D923A,#BFFF81 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Kaushan Script', cursive;
}
#menu4 {
  width: 60%;
  margin: auto;
  margin-bottom: 10%;
  box-shadow: 0px 0px 5px 3px #C0C0C0;
  padding-top: 6%;
  padding-bottom: 6%;
  font-family: "segoe print", "comic sans ms", serif ;
}
.titreimg {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.titreimg img{
    width: 26%;
    height: 0%;
    margin-top: 2.5em;
}
#menuaccueil {
  width: 50%;
  margin: auto;
  margin-bottom: 3em;
  margin-top: 2em;
  padding-bottom: 0%;
  font-family: serif ;
}

@media only screen and (max-width: 2570px) {
#menuaccueil {
  width: 37%;
}
}
@media only screen and (max-width: 1900px) {
#menuaccueil {
  width: 55%;
}
}
@media only screen and (max-width: 1440px) {
#menuaccueil {
  width: 66%;
}
}
@media only screen and (max-width: 1030px) {
#menuaccueil {
  width: 73%;
}
}
@media only screen and (max-width: 880px) {
#menuaccueil {
  width: 75%;
}
}
@media only screen and (max-width: 770px) {
#menuaccueil {
  width: 50%;
}
header{
  width: 100%;
}
#menu1 {
width: 100%;
}
#menu2 {
width: 100%;
}
#menu3 {
width: 100%;
}
#menu4 {
width: 100%;
}
footer {
  width: 100%;
  left: 0;
}
#search {
  width: 100%;
}
}




@media only screen and (max-width: 420px) {
/*index*/
header{
  width: 100%;
}
.menu img {
width: 100%;
height: 100%;
}
.menu {
height: 14em;
width: 100%;
}
#menuaccueil {
width: 45%;
  display: flex;
  flex-direction: column;
}
#proch {
width: 55%;
padding: 4% 9% 0% 9%;
font-size: inherit;
}
footer {
  left: 0%;
  width: 100%;
  padding: 0;
  height: 4%;
}
footer a {
font-size: 85%;
}
#search {
  width: 100%;
}
/*la note enchantée */
.descr {
  line-height: initial;
  flex-direction: column;
}
#menu1 {
width: 100%;
}
.prix {
  margin: auto;
}
#entete1 h2 {
font-size: 1.5em;
}
.descr p {
font-size: smaller;
}
.artic1 h4 {
font-size: 0.8em;
}
#footer1 > h2:nth-child(1) {
font-size: x-large;
}
#logobot1 {
width: 6%;
}
#titremenu1 {
font-size: 1.5em;
}
/*le chic a la francaise*/
#titremenu2 {
font-size: 1.5em;
}
#entete2 h2 {
font-size: 1.5em;
}
#menu2 {
width: 100%;
}
.artic1 h4 {
margin: 9% 0 0 0;
}
#lechicentrée{
  font-size: 0.8em;
}
/* les delices des papilles*/
#menu3 {
width: 100%;
}
.descr3 {
line-height: 0em;
line-height: initial;
flex-direction: column;
}
#entete3 h2 {
font-size: 2em;
}
#deliceentré {
  font-size: 0.9em;
}
/*la lette du goût*/
#menu4 {
  width: 100%;
}
/*mention légale*/ 
#textment {
width: 80%;
}
}
@media only screen and (max-width: 360px) {
  #proch {
    letter-spacing: 0;
  }
}
